@model ProductListViewModel
@{
    Layout = "_AdminLayout";
}

<p>
    <a href="/admin/add" class="btn btn-outline-primary">Create New</a>
    @if (Model.CurrentFilterState)
    {
        <a href="/admin/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=true" class="btn btn-outline-primary">A-Z</a>
    }
    else
    {
        <a href="/admin/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=false" class="btn btn-outline-primary">Z-A</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <form asp-controller="Admin" asp-action="UpdateProduct" method="post">
              <table>
                <tr>
                
                       <td>
                           <input type="hidden" asp-for="Product.ProductId" value="@item.ProductId" />
                           <input asp-for="Product.ProductName" value="@item.ProductName">
                       </td>
                
                       <td>
                           <input asp-for="Product.UnitPrice" value="@item.UnitPrice">
                       </td>
                
                       <td>
                            <input asp-for="Product.UnitsInStock" value="@item.UnitsInStock">
                       </td>
                
                       <td>
                            <button type="submit" class="btn btn-xs btn-primary update-btn">Update</button>
                         <a class="btn btn-xs btn-danger" asp-controller="Admin"
                          asp-action="DeleteProduct" asp-route-productId="@item.ProductId">Delete</a>
                       </td>
                
                  </tr>
              </table>
            </form>
        }
    </tbody>
</table>
